.Card {
  width: 150px;
  height: 100px;
  background-color: var(--english-red);
  color: var(--desert-sand);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Card:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.Card p {
  text-align: center;
}
