.CardTrip {
  width: 450px;
 height: 200px;
  margin: 20px;
  justify-items: center;
  align-content: center;
  background-color: var(--english-red);
  color: var(--desert-sand);
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.CardTrip .section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.CardTrip .sectionTwo {
  display: flex;
  justify-content: space-between;
  width: 180px;
  gap: 40px;
}




