.TripPlanner h1{
    color: var(--queen-blue);
    text-align: center;
}

.CardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px 10px;
}

.TripPlanner Button{
  display: block;
  margin: 0px auto;
  border: 2px solid var(--queen-blue);
  width: auto;
  font-size: larger;
}

